# This workflow demonstrates the use of various types of variables in GitHub Actions, including environment variables, secrets, and inputs.
name: GitHub Actions - All Variables Demo

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [3.13, 3.9]
        node: [18, 20]
    steps:
        - name: Matrix variable demo
          run: |
            echo "Matrix Node Version: ${{ matrix.node }}"
            echo "Matrix Python Version: ${{ matrix.python }}"
